<header>
  <div class="inner">
        <h1 class="logo"><a href="http://localhost:4200/acceuil">CuvetteBoundoum - Agriculture company</a></h1>
        <nav>
            <ul class="sf-menu">
                <li class="current"><a routerLink="/acceuil">ACCEUIL</a></li>
                <li><a href="http://localhost:4200/cuvette">cuvette</a>
                  <ul>
                    <li><a href="http://localhost:4200/organe">organes</a></li>
                      <li><a href="http://localhost:4200/ouvrage">ouvrages</a></li>
                      <li><a href="http://localhost:4200/maintenance">mainetenances</a></li>
                      <li>
                        <a href="http://localhost:4200/cuvette">actualités</a>
                          <ul>
                            <li><a href="http://localhost:4200/partenaire">partenaires</a></li>
                              <li><a href="http://localhost:4200/bailleur">bailleurs</a></li>
                              <li><a href="http://localhost:4200/activité">activités</a></li>
                          </ul>
                      </li>
                      <li><a href="http://localhost:4200/village">villages</a></li>
                      <li><a href="http://localhost:4200/machine">machines</a></li>
                  </ul>
                </li>
                <li>
                  <a href="http://localhost:4200/union">union</a>
                    <ul>
                      <li><a href="http://localhost:4200/section">sections</a></li>
                        <li><a href="http://localhost:4200/groupement">groupement</a></li>
                        <li><a href="http://localhost:4200/magasin">magasins</a></li>
                        <li>
                          <a href="http://localhost:4200/gestionnaire">gestionnaires</a>  </li>

                              <li><a href="http://localhost:4200/machine">machines</a></li>

                    </ul>
                </li>
                <li><a href="http://localhost:4200/paysan">paysans</a>
                  <ul>
                    <li><a href="http://localhost:4200/exigible">exigibles</a></li>
                      <li><a href="http://localhost:4200/intrants">intrants</a></li>

                  </ul>
                </li>
                <li><a href="http://localhost:4200/paysan">production</a>
                  <ul>
                    <li><a href="http://localhost:4200/production">production</a></li>


                  </ul>
                </li>
                <li><a href="http://localhost:4200/authentification">deconnexion</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>

</header>


    <!-- Content -->
    <div class="menu-vertical">

      <div class="avatar"></div>
      <h3 class="h3"> Bienvenue dans le menu</h3>
      <div class="cuvmenu"><a href="http://localhost:4200/cuvette">cuvette</a></div>
      <div class="cuvmenu"><a href="http://localhost:4200/ouvrage">ouvrages</a></div>
      <div class="cuvmenu"><a href="http://localhost:4200/organe">organes</a></div>
      <div class="cuvmenu"><a href="http://localhost:4200/maintenance">maintenances</a></div>
      <div class="cuvmenu"><a href="http://localhost:4200/ajouterOuvrage">ajouter ouvrage</a></div>


    </div>

    <div class="col-md-8 offset-md-4" style="padding: 150px;background-color: silver;" >
      <h1 style="text-align: center;">MODIFIER OUVRAGE</h1>

    <!-- Form -->
    <div ng-controller="ExampleController">
    <form  #monForm=ngForm (ngSubmit)="onSubmit()" style="text-align: center;">

      <div class="form-row">
        <div class="col">
          <!-- First name -->
          <div class="md-form mt-0">

            <input type="number" class="form-control" id="identifiant"  placeholder='identifiant' disabled
            [(ngModel)] ="ouvrage.id" name ="id" >
            <label >identifiant</label>
          </div>

        </div>
   <div class="col">

      <div class="md-form mt-0">

        <input type="text" class="form-control" id="numero"    placeholder='numero' required #numero="ngModel"
        [(ngModel)] ="ouvrage.numero" name ="numero" >
            <label >numero</label>
          </div>
          <div [hidden]="numero.valid || numero.pristine">
            le numero est obligatoire
            </div>

        </div>
      </div>

      <div class="md-form">

        <input type="text" class="form-control" id="localisation"  placeholder='localisation'  required #localisation="ngModel"
        [(ngModel)]= "ouvrage.localisation" name="localisation">
        <label >localisation</label>
      </div>
      <div [hidden]="localisation.valid || localisation.pristine">
        La localisation est obligatoire
        </div>


      <div class="md-form">

        <input type="text" class="form-control"  id="nom"  placeholder='nom' required #nom="ngModel"
        [(ngModel)]= "ouvrage.nom" name="nom">

        <label >nom</label>
      </div>
      <div [hidden]="nom.valid || nom.pristine">
        le nom  est obligatoire
        </div>


      <div class="md-form">

        <input type="text" id="description" class="form-control" placeholder='description' required #description ="ngModel"
        [(ngModel)]= "ouvrage.description" name="description ">
        <label>description</label>
      </div>
      <div [hidden]="description.valid || description.pristine">
        La description  est obligatoire
        </div>

        <div class="md-form">

          <input type="number" id="cuvette" class="form-control" placeholder='cuvette' required #cuvette ="ngModel"
          [(ngModel)]= "ouvrage.cuvette" name="cuvette ">
          <label>cuvette</label>
        </div>
        <div [hidden]="cuvette.valid || cuvette.pristine">
          cuvette  est obligatoire
          </div>

        <div> <button class="btn btn-success" type="submit" [disabled]=!monForm.valid style="margin: 50;"> valider </button>
          <button class="btn btn-danger"  (click) = "Annuler()"> annuler </button></div>
    </form>
</div>

</div>





