

  <header>
    <div class="inner">
          <h1 class="logo"><a href="http://localhost:4200/acceuil">CuvetteBoundoum - Agriculture company</a></h1>
          <nav>
              <ul class="sf-menu">
                  <li class="current"><a routerLink="/acceuil">ACCEUIL</a></li>
                  <li><a href="http://localhost:4200/cuvette">cuvette</a>
                    <ul>
                      <li><a href="http://localhost:4200/organe">organes</a></li>
                        <li><a href="http://localhost:4200/ouvrage">ouvrages</a></li>
                        <li><a href="http://localhost:4200/maintenance">mainetenances</a></li>
                        <li>
                          <a href="http://localhost:4200/cuvette">actualités</a>
                            <ul>
                              <li><a href="http://localhost:4200/partenaire">partenaires</a></li>
                                <li><a href="http://localhost:4200/bailleur">bailleurs</a></li>
                                <li><a href="http://localhost:4200/activité">activités</a></li>
                            </ul>
                        </li>
                        <li><a href="http://localhost:4200/village">villages</a></li>
                        <li><a href="http://localhost:4200/machine">machines</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="http://localhost:4200/union">union</a>
                      <ul>
                        <li><a href="http://localhost:4200/section">sections</a></li>
                          <li><a href="http://localhost:4200/groupement">groupement</a></li>
                          <li><a href="http://localhost:4200/magasin">magasins</a></li>
                          <li>
                            <a href="http://localhost:4200/gestionnaire">gestionnaires</a>  </li>

                                <li><a href="http://localhost:4200/machine">machines</a></li>

                      </ul>
                  </li>
                  <li><a href="http://localhost:4200/paysan">paysans</a>
                    <ul>
                      <li><a href="http://localhost:4200/exigible">exigibles</a></li>
                        <li><a href="http://localhost:4200/intrants">intrants</a></li>

                    </ul>
                  </li>
                  <li><a href="http://localhost:4200/paysan">production</a>
                    <ul>
                      <li><a href="http://localhost:4200/production">production</a></li>


                    </ul>
                  </li>
                  <li><a (click)="seDeconnecter()">deconnexion</a></li>

              </ul>
          </nav>
          <div class="clear"></div>
      </div>

  </header>


    <!-- Content -->
    <div class="menu-vertical">

      <div class="avatar"></div>
      <h3 class="h3"> Bienvenue dans le menu</h3>
      <div class="cuvmenu"><a href="http://localhost:4200/union">union</a></div>
      <div class="cuvmenu"><a href="http://localhost:4200/gestionnaire">gestionnaire</a></div>
      <div class="cuvmenu"><a href="http://localhost:4200/savegestionnaire">Ajouter gestionnaire</a></div>
    </div>

    <div class="col-md-8 offset-md-4" style="padding: 150px;background-color: silver;" >
      <h1 style="text-align: center;">AJOUTER GESTIONNAIRE</h1>

    <!-- Form -->
    <form #monForm=ngForm (ngSubmit)="onSubmit()" style="text-align: center;">

<div class="form-row">
        <div class="col">
          <!-- First name -->
          <div class="md-form mt-0">
            <input type="number" class="form-control" id="identifiant" placeholder='reference' disabled
            [(ngModel)] ="gestionnaire.id" name ="id">
            <label >identifiant</label>
          </div>
        </div>
   <div class="col">

    <div class="md-form mt-0">
      <input type="text" class="form-control" id="reference"  placeholder='reference' required #reference="ngModel"
      [(ngModel)] ="gestionnaire.reference" name ="reference">
          <label >nom</label>
    </div>
    <div [hidden]="reference.valid || reference.pristine">
      La reference est obligatoire
      </div>
  </div>
</div>


        <div class="md-form">
          <input type="text" class="form-control" id="nom" placeholder='nom' required #nom="ngModel"
          [(ngModel)]= "gestionnaire.nom" name="nom">
          <label >nom</label>
        </div>
        <div [hidden]="nom.valid || nom.pristine">
          Le nom est obligatoire
          </div>

        <div class="md-form">
          <input type="text" class="form-control" id="prenom" placeholder='prenom' required #prenom="ngModel"
          [(ngModel)]= "gestionnaire.prenom" name="prenom">
          <label >prenom</label>
        </div>
        <div [hidden]="prenom.valid || prenom.pristine">
          Le prenom est obligatoire
          </div>


      <div class="md-form">
        <input type="text" class="form-control" id="adresse" placeholder='adresse' required #adresse="ngModel"
        [(ngModel)]= "gestionnaire.adresse" name="adresse">
        <label >adresse</label>
      </div>
      <div [hidden]="adresse.valid || adresse.pristine">
        Le adresse est obligatoire
        </div>

      <div class="md-form">
        <input type="text" class="form-control" id="tel" placeholder='telephone' required #tel="ngModel"
        [(ngModel)]= "gestionnaire.tel" name="tel">
        <label >tel</label>
      </div>
      <div [hidden]="tel.valid || tel.pristine">
        Le telephone est obligatoire
        </div>
      <div class="md-form">
        <input type="text" class="form-control" id="email" placeholder='email' required #email="ngModel"
        [(ngModel)]= "gestionnaire.email" name="email">
        <label >email</label>
      </div>
      <div [hidden]="email.valid || email.pristine">
        Le email est obligatoire
        </div>

        <div class="md-form">
          <input type="text" class="form-control" id="typeGestionnaire" placeholder='typeGestionnaire' required #typeGestionnaire="ngModel"
          [(ngModel)]= "gestionnaire.typeGestionnaire" name="typeGestionnaire">
          <label >typeGestionnaire</label>
        </div>
        <div [hidden]="typeGestionnaire.valid || typeGestionnaire.pristine">
          Le type gestionnaire est obligatoire
          </div>

        <div> <button class="btn btn-success" type="submit" [disabled]=!monForm.valid style="margin: 50;"> valider </button>
          <button class="btn btn-danger"  (click) = "Annuler()"> annuler </button></div>
    </form>
</div>






    <!-- Content -->
