<header>
  <div class="inner">
        <h1 class="logo"><a href="http://localhost:4200/acceuil">CuvetteBoundoum - Agriculture company</a></h1>
        <nav>
            <ul class="sf-menu">
                <li class="current"><a routerLink="/acceuil">ACCEUIL</a></li>
                <li><a href="http://localhost:4200/cuvette">cuvette</a>
                  <ul>
                    <li><a href="http://localhost:4200/organe">organes</a></li>
                      <li><a href="http://localhost:4200/ouvrage">ouvrages</a></li>
                      <li><a href="http://localhost:4200/maintenance">mainetenances</a></li>
                      <li>
                        <a href="http://localhost:4200/cuvette">actualités</a>
                          <ul>
                            <li><a href="http://localhost:4200/partenaire">partenaires</a></li>
                              <li><a href="http://localhost:4200/bailleur">bailleurs</a></li>
                              <li><a href="http://localhost:4200/activité">activités</a></li>
                          </ul>
                      </li>
                      <li><a href="http://localhost:4200/village">villages</a></li>
                      <li><a href="http://localhost:4200/machine">machines</a></li>
                  </ul>
                </li>
                <li>
                  <a href="http://localhost:4200/union">union</a>
                    <ul>
                      <li><a href="http://localhost:4200/section">sections</a></li>
                        <li><a href="http://localhost:4200/groupement">groupement</a></li>
                        <li><a href="http://localhost:4200/magasin">magasins</a></li>
                        <li>
                          <a href="http://localhost:4200/gestionnaire">gestionnaires</a>  </li>

                              <li><a href="http://localhost:4200/machine">machines</a></li>

                    </ul>
                </li>
                <li><a href="http://localhost:4200/paysan">paysans</a>
                  <ul>
                    <li><a href="http://localhost:4200/exigible">exigibles</a></li>
                      <li><a href="http://localhost:4200/intrants">intrants</a></li>

                  </ul>
                </li>
                <li><a href="http://localhost:4200/paysan">production</a>
                  <ul>
                    <li><a href="http://localhost:4200/production">production</a></li>


                  </ul>
                </li>
                <li><a href="http://localhost:4200/authentification">deconnexion</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>

</header>

    <!-- Content -->
    <div class="menu-vertical">

      <div class="avatar"></div>
      <h3 class="h3"> Bienvenue dans le menu</h3>
      <div class="cuvmenu"><a href="http://localhost:4200/cuvette">cuvettes</a></div>
      <div class="cuvmenu"><a href="http://localhost:4200/partenaire">partenaires</a></div>
      <div class="cuvmenu"><a href="http://localhost:4200/ajoutpartenaire">Ajouter partenaire</a></div>
    </div>



     <div class="col-md-6 offset-md-4" style="padding: 125px;">
      <div class="row justify-content-center" style="margin-left: 250px;width: 1000px;">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="saisir valeur">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
      </div>
        <h1>la liste des partenaires</h1><div> <button (click) = "ajouterPartenaire()" class="btn btn-info" style="font-family: cursive">ajouterPartenaire</button></div>

       <table class="table table-striped" style="backgroundColor:white;width: auto;"  >
         <thead >
          <tr class="entete" style="backgroundColor:gray">
             <th>Identifiant</th>
             <th>Nom</th>
             <th>adresse</th>
             <th>telephone</th>
             <th>email</th>
             <th>type de partenariat</th>

           </tr>

         </thead>
         <tbody>
          <tr *ngFor ="let partenaire of partenaires" >
              <td>{{partenaire?.id}}</td>
               <td>{{partenaire?.nom}}</td>
               <td>{{partenaire?.adresse}}</td>
                <td>{{partenaire?.tel}}</td>
               <td>{{partenaire?.email}}</td>
               <td>{{partenaire?.typePartenariat}}</td>

               <td>
                <button (click) = "updatePartenaire(partenaire?.id)" class="btn btn-info">Update</button>
              </td>
              <td>
                <button (click) = "deletePartenaire(partenaire?.id)" class="btn btn-danger"  >Delete</button>
              </td>
              <td>
                <button (click) = "detailsPartenaire(partenaire?.id)" class="btn btn-info"  >Detail</button>
              </td>


           </tr>
         </tbody>
       </table>
     </div>

