<header>
  <div class="inner">
        <h1 class="logo"><a href="http://localhost:4200/acceuil">CuvetteBoundoum - Agriculture company</a></h1>
        <nav>
            <ul class="sf-menu">
                <li class="current"><a routerLink="/acceuil">ACCEUIL</a></li>
                <li><a href="http://localhost:4200/cuvette">cuvette</a>
                  <ul>
                    <li><a href="http://localhost:4200/organe">organes</a></li>
                      <li><a href="http://localhost:4200/ouvrage">ouvrages</a></li>
                      <li><a href="http://localhost:4200/maintenance">mainetenances</a></li>
                      <li>
                        <a href="http://localhost:4200/cuvette">actualités</a>
                          <ul>
                            <li><a href="http://localhost:4200/partenaire">partenaires</a></li>
                              <li><a href="http://localhost:4200/bailleur">bailleurs</a></li>
                              <li><a href="http://localhost:4200/activité">activités</a></li>
                          </ul>
                      </li>
                      <li><a href="http://localhost:4200/village">villages</a></li>
                      <li><a href="http://localhost:4200/machine">machines</a></li>
                  </ul>
                </li>
                <li>
                  <a href="http://localhost:4200/union">union</a>
                    <ul>
                      <li><a href="http://localhost:4200/section">sections</a></li>
                        <li><a href="http://localhost:4200/groupement">groupement</a></li>
                        <li><a href="http://localhost:4200/magasin">magasins</a></li>
                        <li>
                          <a href="http://localhost:4200/gestionnaire">gestionnaires</a>  </li>

                              <li><a href="http://localhost:4200/machine">machines</a></li>

                    </ul>
                </li>
                <li><a href="http://localhost:4200/paysan">paysans</a>
                  <ul>
                    <li><a href="http://localhost:4200/exigible">exigibles</a></li>
                      <li><a href="http://localhost:4200/intrants">intrants</a></li>

                  </ul>
                </li>
                <li><a href="http://localhost:4200/paysan">production</a>
                  <ul>
                    <li><a href="http://localhost:4200/production">production</a></li>


                  </ul>
                </li>
                <li><a href="http://localhost:4200/authentification">deconnexion</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>

</header>

    <!-- Content -->
    <div class="menu-vertical">

      <div class="avatar"></div>
      <h3 class="h3"> Bienvenue dans le menu</h3>
      <div class="cuvmenu"><a href="">union</a></div>
      <div class="cuvmenu"><a href="">village</a></div>
      <div class="cuvmenu"><a href="">Ajouter</a></div>


    </div>

    <div class="col-md-6 offset-md-4" style="padding: 125px;">
      <div class="row justify-content-center" style="margin-left: 250px;width: 1000px;">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="saisir valeur">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
      </div>
      <h1>La liste des villages</h1><div> <button (click) = "ajouterVillage()" class="btn btn-info" style="font-family: cursive">ajouterVillage</button></div>

      <table class="table table-bordered" style="backgroundColor: white"  >
        <thead>
          <tr class="entete" style="backgroundColor:gray">
            <th>id</th>
            <th>nom</th>
            <th>population</th>
            <th>populationAtt</th>
            <th>superficieEx</th>
            <th>superficiePH</th>
            <th>idCuvette</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let village of villages">
            <td>{{village?.id}}</td>
            <td>{{village?.nom}}</td>
            <td>{{village?.population}}</td>
            <td>{{village?.populationAtt}}</td>
            <td>{{village?.superficieEx}}</td>
            <td>{{village?.superficiePH}}</td>
            <td>{{village?.cuvette.nom}}</td>

            <td>
              <button (click) = "updateVillage(village?.id)" class="btn btn-info">Update</button>
            </td>
            <td>
              <button (click) = "deleteVillage(village?.id)" class="btn btn-danger"  >Delete</button>
            </td>
            <td>
              <button (click) = "detailsVillage(village?.id)" class="btn btn-info"  >Detail</button>
            </td>


          </tr>


        </tbody>
      </table>
    </div>


    <!-- Content -->
