
  <header>
    <div class="inner">
          <h1 class="logo"><a href="http://localhost:4200/acceuil">CuvetteBoundoum - Agriculture company</a></h1>
          <nav>
              <ul class="sf-menu">
                  <li class="current"><a routerLink="/acceuil">ACCEUIL</a></li>
                  <li><a href="http://localhost:4200/cuvette">cuvette</a>
                    <ul>
                      <li><a href="http://localhost:4200/organe">organes</a></li>
                        <li><a href="http://localhost:4200/ouvrage">ouvrages</a></li>
                        <li><a href="http://localhost:4200/maintenance">mainetenances</a></li>
                        <li>
                          <a href="http://localhost:4200/cuvette">actualités</a>
                            <ul>
                              <li><a href="http://localhost:4200/partenaire">partenaires</a></li>
                                <li><a href="http://localhost:4200/bailleur">bailleurs</a></li>
                                <li><a href="http://localhost:4200/activité">activités</a></li>
                            </ul>
                        </li>
                        <li><a href="http://localhost:4200/village">villages</a></li>
                        <li><a href="http://localhost:4200/machine">machines</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="http://localhost:4200/union">union</a>
                      <ul>
                        <li><a href="http://localhost:4200/section">sections</a></li>
                          <li><a href="http://localhost:4200/groupement">groupement</a></li>
                          <li><a href="http://localhost:4200/magasin">magasins</a></li>
                          <li>
                            <a href="http://localhost:4200/gestionnaire">gestionnaires</a>  </li>

                                <li><a href="http://localhost:4200/machine">machines</a></li>

                      </ul>
                  </li>
                  <li><a href="http://localhost:4200/paysan">paysans</a>
                    <ul>
                      <li><a href="http://localhost:4200/exigible">exigibles</a></li>
                        <li><a href="http://localhost:4200/intrants">intrants</a></li>

                    </ul>
                  </li>
                  <li><a href="http://localhost:4200/paysan">production</a>
                    <ul>
                      <li><a href="http://localhost:4200/production">production</a></li>


                    </ul>
                  </li>
                  <li><a href="http://localhost:4200/authentification">deconnexion</a></li>
              </ul>
          </nav>
          <div class="clear"></div>
      </div>

  </header>

    <!-- Content -->
    <div class="menu-vertical">

      <div class="avatar"></div>
      <h3 class="h3"> Bienvenue dans le menu</h3>
      <div class="cuvmenu"><a href="http://localhost:4200/cuvette">cuvettes</a></div>
      <div class="cuvmenu"><a href="http://localhost:4200/partenaire">partenaires</a></div>
      <div class="cuvmenu"><a href="http://localhost:4200/ajoutpartenaire">Ajouter partenaire</a></div>
    </div>


    <div class="col-md-8 offset-md-4" style="padding: 150px;background-color: silver;" >
      <h1 style="text-align: center;">MODIFIER PARTENAIRE</h1>

    <!-- Form -->
    <form #monForm=ngForm (ngSubmit)="onSubmit()" style="text-align: center;">

<div class="form-row">
        <div class="col">
          <!-- First name -->
          <div class="md-form mt-0">
            <input type="text" class="form-control" id="nom" placeholder='nom' required #nom="ngModel"
            [(ngModel)] ="partenaire.nom" name ="nom">
            <label >nom</label>
          </div>
          <div [hidden]="nom.valid || nom.pristine">
            La nom est obligatoire
            </div>
        </div>

        <div class="col">

          <div class="md-form mt-0">
            <input type="text" class="form-control" id="adresse"  placeholder='adresse' required #adresse="ngModel"
            [(ngModel)] ="partenaire.adresse" name ="adresse">
                <label >adresse</label>
          </div>
          <div [hidden]="adresse.valid || adresse.pristine">
            L'adresse est obligatoire
            </div>

      </div>

        </div>



        <div class="md-form">
          <input type="text" class="form-control" id="tel" placeholder='telephone' required #tel="ngModel"
          [(ngModel)]= "partenaire.tel" name="tel">
          <label >telephone</label>
        </div>
        <div [hidden]="tel.valid || tel.pristine">
          le numero de telephone est obligatoire
          </div>

        <div class="md-form">
          <input type="text" class="form-control" id="email" placeholder='email' required #email="ngModel"
          [(ngModel)]= "partenaire.email" name="email">
          <label >email</label>
        </div>
        <div [hidden]="email.valid || email.pristine">
          L'email est obligatoire
          </div>


      <div class="md-form">
        <input type="text" class="form-control" id="typePartenariat" placeholder='type partenariat' required #typePartenariat="ngModel"
        [(ngModel)]= "partenaire.typePartenariat" name="typePartenariat">
        <label >type partenariat</label>
      </div>
      <div [hidden]="typePartenariat.valid || typePartenariat.pristine">
        Le type de partenariat est obligatoire
        </div>


      <button class="btn btn-success" type="submit" [disabled]=!monForm.valid> valider </button>

    </form>
</div>






    <!-- Content -->
