<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Home</title>
  	<meta charset="utf-8">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">

<!--[if lt IE 8]>
   <div style=' clear: both; text-align:center; position: relative;'>
     <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
       <img src="http://storage.ie6countdown.com/assets/100/assets/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
  </div>
<![endif]-->
<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<link rel="stylesheet" href="css/ie.css">
<![endif]-->
</head>
<body>
<div class="main-bg">
    <!-- Header -->
    <header>
    	<div class="inner">
            <h1 class="logo"><a href="http://localhost:4200/acceuil">CuvetteBoundoum - Agriculture company</a></h1>
            <nav>
                <ul class="sf-menu">
                    <li class="current"><a href="http://localhost:4200/acceuil">ACCEUIL</a></li>
                    <li><a href="http://localhost:4200/cuvette">cuvette</a>
                      <ul>
                        <li><a href="http://localhost:4200/organe">organes</a></li>
                          <li><a href="http://localhost:4200/ouvrage">ouvrages</a></li>
                          <li><a href="http://localhost:4200/maintenant">mainetenances</a></li>
                          <li>
                            <a href="http://localhost:4200/cuvette">actualités</a>
                              <ul>
                                <li><a href="http://localhost:4200/partenaire">partenaires</a></li>
                                  <li><a href="http://localhost:4200/bailleur">bailleurs</a></li>
                                  <li><a href="http://localhost:4200/activité">activités</a></li>
                              </ul>
                          </li>
                          <li><a href="http://localhost:4200/village">villages</a></li>
                          <li><a href="http://localhost:4200/machine">machines</a></li>
                      </ul>
                    </li>
                    <li>
                    	<a href="http://localhost:4200/union">union</a>
                        <ul>
                        	<li><a href="http://localhost:4200/section">sections</a></li>
                            <li><a href="http://localhost:4200/groupement">groupement</a></li>
                            <li><a href="http://localhost:4200/magasin">magasins</a></li>
                            <li>
                            	<a href="http://localhost:4200/gestionnaire">gestionnaires</a>  </li>

                                	<li><a href="http://localhost:4200/machine">machines</a></li>

                        </ul>
                    </li>
                    <li><a href="http://localhost:4200/paysan">paysans</a>
                      <ul>
                        <li><a href="http://localhost:4200/exigible">exigibles</a></li>
                          <li><a href="http://localhost:4200/intrants">intrants</a></li>

                      </ul>
                    </li>
                    <li><a href="http://localhost:4200/paysan">production</a>
                      <ul>
                        <li><a href="http://localhost:4200/production">production</a></li>


                      </ul>
                    </li>
                    <li><a href="http://localhost:4200/authentification">deconnexion</a></li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
        <div class="slider-container">
            <div class="mp-slider">
                <ul class="items">
                    <li><img src="assets/images/slide-1.jpg" alt="" /><div class="banner mp-ban-1"><span class="row-1">putting our</span><span class="row-2">heart &amp; soul</span><span class="row-3">into the field</span></div></li>
                    <li><img src="assets/images/slide-2.jpg" alt="" /><div class="banner mp-ban-2"><span class="row-1">we have a strong</span><span class="row-2">agriculture</span><span class="row-3">heritage</span></div></li>
                    <li><img src="assets/images/slide-3.jpg" alt="" /><div class="banner mp-ban-3"><span class="row-1">growing clean</span><span class="row-2">and full of health</span><span class="row-3">products</span></div></li>
                </ul>
            </div>
        </div>
        <a href="#" class="mp-prev"></a>
        <a href="#" class="mp-next"></a>
    </header>
    <!-- Content -->

    <div class="container" style="width: 50%">
      <h1>La liste des production</h1>
      <table class="table table-bordered" style="backgroundColor: white"  >
        <thead>
          <tr style="backgroundColor:gray">
            <th>Nom</th>
            <th>Prénom</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Giraud</td>
            <td>Pierre</td>
            <td>28</td>
          </tr>
          <tr>
            <td>Durand</td>
            <td>Victor</td>
            <td>26</td>
          </tr>
          <tr>
            <td>Joly</td>
            <td>Julia</td>
            <td>27</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Footer -->
    <footer>
    	<div class="container_24">
        	<div class="wrapper">
            	<div class="grid_24 footer-bg">
        			<div class="hr-border-2"></div>
                    <div class="wrapper">
                        <div class="grid_7 suffix_1 prefix_1 alpha">
                        	<div class="copyright">
                            	&copy; 2021 <strong class="footer-logo">CuvetteBoundoum</strong>

                            </div>
                        </div>
                        <div class="grid_4">
                        	<h5 class="heading-1">Archives:</h5>

                        </div>
                        <div class="grid_4">
                        	<h5 class="heading-1">Links:</h5>

                        </div>
                        <div class="grid_4">
                        	<h5 class="heading-1">Support:</h5>

                        </div>
                        <div class="grid_2 suffix_1 omega">
                        	<ul class="social-list">
                            	<li><a href="#"><img src="assets/images/social-icon-1.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/social-icon-2.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/social-icon-3.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
            	</div>
        	</div>
        </div>
    </footer>
</div>
</body>
</html>
s
