
<head>
  <meta charset="utf-8">
  <title>Delta</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>



    <div class="container" style="min-height: 100%;position: relative;margin: 0;bottom: 0;">

      <router-outlet></router-outlet>

  </div>


    <footer>
    	<div class="container_24">
        	<div class="wrapper">
            	<div class="grid_24 footer-bg">
        			<div class="hr-border-2"></div>
                    <div class="wrapper">
                        <div class="grid_7 suffix_1 prefix_1 alpha">
                        	<div class="copyright">
                            	&copy; 2021 <strong class="footer-logo">CuvetteBoundoum</strong>

                            </div>
                        </div>
                        <div class="grid_4">
                        	<h5 class="heading-1">Archives:</h5>

                        </div>
                        <div class="grid_4">
                        	<h5 class="heading-1">Links:</h5>

                        </div>
                        <div class="grid_4">
                        	<h5 class="heading-1">Support:</h5>

                        </div>
                        <div class="grid_2 suffix_1 omega">
                        	<ul class="social-list">
                            	<li><a href="#"><img src="assets/images/social-icon-1.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/social-icon-2.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/social-icon-3.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
            	</div>
        	</div>
        </div>
    </footer>


